@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@media (width < 80rem) {
    .prose figure {
        width: 100%;
    }
}

@media (width >= 80rem) {
    .prose figure {
        display: flex;
        flex-direction: column;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        padding-left: 16rem;
        padding-right: 16rem;
        width: 100vw;
    }

    .prose figure.portrait {
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}
